* {
    margin: 0;
    padding: 0;
}

img {
    height: 100px;
    width: 100px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

header {
    background: tomato;
    height: 120px;
}

footer {
    background: lightgreen;
    height: 80px;
}

.hero {
    background: deepskyblue;
    height: 200px;
}

/* application flexbox beginning */
.applications {
    background: gold;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}

.applications > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.application-container {
    border: solid 3px tomato;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.application-container > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.run-buddy-div, .cocktail-div {
    background-color: blue;
    display: flex;
}

.run-buddy-div, .cocktail-div > * {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.run-buddy-div {
    justify-content: center;
}

.cocktail-div {
    flex-direction: row;
    justify-content: space-around;
}

.run-buddy img {
    height: 200px;
    width: 200px;
}

.cocktail-image img {
    height: 150px;
    width: 150px;
}

.run-buddy {
    position: relative;
    border: solid 3px yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-text-run {
    position: absolute;
}

.cocktail-image {
    position: relative;
    border: solid 3px yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-text-cocktail {
    position: absolute;
}



/* application flexbox end */