* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100px;
    width: 100px;
    display: block;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

/* header styling */
header {
    background: slategray;
    height: 120px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: limegreen;
    margin: 0;
}

header a {
    text-decoration: none;
    color: limegreen;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
}

header nav ul li a:hover {
    color: white;
    outline: solid 2px white;
}

footer {
    background: slategray;
    height: auto;
}

.footer-title {
    text-align: center;
    margin: 0 auto 20px auto;
    width: 30%;
}

.footer-title h2 {
    font-size: 30px;
    color: limegreen;
    border-bottom: solid 2px limegreen;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-info ul li {
    padding: 10px 15px;
    list-style: none;
    color: white;
}

.contact-info ul li a {
    color: white;
}

.hero {
   background-image: url(../images/pexels-johannes-plenio-1103970.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.hero div img {
    height: 150px;
    width: 150px;
}

/* application styling */
.applications {
    background: slategray;
    height: auto;
}

.app-title {
    text-align: center;
    margin: 0 auto 20px auto;
    width: 50%;
}

.app-title h2 {
    font-size: 30px;
    color: limegreen;
    border-bottom: solid 2px limegreen;
}

/* run-buddy styling */
.run-buddy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
.run-image {
    position: relative;
    display: inline-block;
}
.run-image img {
    height: 300px;
    width: 620px;
}

.run-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* cocktail div styling */
.cocktail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cocktail-image {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.cocktail-image img {
    height: 200px;
    width: 200px;
}

.cocktail-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* image caption styling */
.run-caption a, .cocktail-caption a {
   text-decoration: none;
   color: white; 
   font-weight: bold;
}

.run-image img, .cocktail-image img {
    opacity: 0.7;
}

.run-image:hover, .cocktail-image:hover {
    outline: solid 3px white;
}

